@page "/customers/create"

@using MovieRentalManagement.Shared.Domain
@using MovieRentalManagement.Client.Static



<h3>Create New Customer</h3>
<hr />

<FormComponent customer="customer" ButtonText="Add Record" OnValidSubmit="AddCustomer">

</FormComponent>



@code {
        


}
