@page "/industry/"
@using MovieRentalManagement.Shared.Domain
@using MovieRentalManagement.Client.Static
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http.Json

@attribute [Authorize]

<TitleComponent Title="Industry"></TitleComponent>

<a href="/industry/create" class="btn btn-outline-dark">
    <span class="oi oi-plus"></span> 
    Add Industry
</a>

@if (industries == null)
{
    <div class="alert alert-info">Loading industry...</div>
}

else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in industries)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a href="/industry/view/@item.Id" class="btn btn-secondary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/industry/edit/@item.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-danger" onclick="@(() => Delete(item.Id))">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    


}
