@page "/movie/create"

@using MovieRentalManagement.Client.Static



<h3>Create New Movie</h3>
<hr />
<br />

<FormComponents movie="movie" ButtonText="Add Movie" industries="industries" genres="genres" OnValidSubmit="@AddMovie">

</FormComponents>




@code {
    
}

