@page "/movie/create"

@using MovieRentalManagement.Client.Static
@inject HttpClient _client
@inject NavigationManager navigationManager


<h3>Create New Movie</h3>
<hr />
<br />

<FormComponents movie="movie" ButtonText="Add Movie" industries="industries" genres="genres" OnValidSubmit="@AddMovie">

</FormComponents>




@code {
    Movie movie = new Movie();
    private List<Genre> genres = new List<Genre>();
    private List<Industry> industries = new List<Industry>();



    protected async override Task OnInitializedAsync()
    {
        genres = await _client.GetFromJsonAsync<List<Genre>>(EndPoints.GenresEndpoint);
        industries = await _client.GetFromJsonAsync<List<Industry>>(EndPoints.IndustryEndpoint);
    }

    private async Task AddMovie()
    {
        await _client.PostAsJsonAsync(EndPoints.MoviesEndpoint, movie);
        navigationManager.NavigateTo("/movie/");
    }
}

