@page "/genre/edit/{id:int}"

@inject HttpClient _client
@inject NavigationManager navigationManager

<h3>EditGenres</h3>

<FormComponents genre="genre" ButtonText="Update Record" OnValidSubmit="@UpdateRecord">

</FormComponents>



@code {
    [Parameter]public int id{ get; set; }
    Genre genre = new Genre();

    protected async override Task OnParametersSetAsync()
    {
        genre = await _client.GetFromJsonAsync<Genre>($"{EndPoints.GenresEndpoint}{id}");
    }

    async Task UpdateRecord(){
        await _client.PutAsJsonAsync($"{EndPoints.GenresEndpoint}{id}", genre);

        navigationManager.NavigateTo("/genre");

  
    }


}
