@page "/booking/create"

@using MovieRentalManagement.Shared.Domain
@using MovieRentalManagement.Client.Static


<h3>CreateBooking</h3>

<FormComponents booking="booking" customers="customers" movies="movies" OnValidSubmit="AddBooking" ButtonText="Add Booking">

</FormComponents>



@code {
    
}
