@inject NavigationManager navigationManager



<button class="btn btn-outline-secondary" @onclick="@BackToListItems">
    <span class="oi oi-arrow-left">

    </span>
    Back To List
</button>

@code {
    [Parameter]public string Target{ get; set; }

    void BackToListItems(){
        navigationManager.NavigateTo($"{navigationManager.BaseUri}{Target}");
    }
}
